{% extends "info_page.html" %}

{% block head %}
{% endblock %}

{% block content %}
    <h2>Science Bowl</h2>
    <p>Every Friday after school, participants of the Science Bowl prepare for the competition. If you like competitive Science trivia, this is the place for you! </p>
    <br>
    <h2>Science Olympiad</h2>
    <p>You can compete in more than 20 categories including Anatomy and Physiology, Forensics, Codebusters, and much more. What's more, you will not be alone- you will compete in pairs or trios! Thus, teamwork and collaboration are key to winning. For more information, click <a href="https://www.soinc.org/events/2022-event-table">here</a>.</p>
    <br>
    <a href="https://chat.whatsapp.com/BnRJgX29JLWBDtE0l5duZg"><p>Click here to join the Science Olympiad Whatsapp group chat.</p></a>
{% endblock %}

