{% extends "layout.html" %}

{% block head %}
<!-- Main Quill library -->
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

<!-- Theme included stylesheets -->
<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
{% endblock %}

{% block content %}
{{ super() }}

<div class="thread">
    <h3 class="thread__title">Site Prototype</h3>
    <span class="thread__author">posted by <a href="/profile/{{ author_id }}">Justin Liu</a></span>
    <div class="thread__body">
        <p>Welcome to the Cypress Bay MAO Website prototype! :D</p>
        <br>
        <p>Feel free to leave to leave ideas and suggestions here about site design and features as the site is constantly updated and improved. :)</p>

    </div>
    <hr>
    <div class="thread__replies">
    </div>
    <div class="thread__write-reply">
        <div class="thread__write-reply__textbox">
        </div>
    </div>
    <button class="thread__write-reply__post btn btn-primary p-absolute" style="top: 60px;">Submit</button>
</div>

<script type="text/javascript">
    const userName = "{{ name }}";
</script>
<script src="/static/discussion.js" type="module"></script>
{% endblock %}