{% extends "layout.html" %}

{% block head %}
    {{ super()}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
{% endblock %}

{% block content %}
    {{ super() }}
    <main>
        <h1>Events</h1>
        <div class="accordion" id="accordion">
            {% import 'components/announcements.html' as announcements_util %}
            {{ announcements_util.get_announcements(announcements, 'accordion') }}
        </div>
    </main>
    <div class="canvas-container">
        <canvas id="background-canvas"></canvas>
    </div>
    <script src="static/events.js" type="module"></script>
{% endblock %}
