{% extends "layout.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>
<link rel="icon" sizes="192x192" href="/assets/MAO Favicon.png">
<link rel="shortcut icon" href="/assets/MAO Favicon.png" type="image/png"/>
<link rel="apple-touch-icon" href="/assets/MAO Favicon.png" type="image/png"/>
{% endblock %}

{% block content %}
<div>
    <canvas id="3d-viewport"></canvas>
</div>
<section>

</section>

<script src="/static/index.js" type="module"></script>
{% endblock %}