{% extends "layout.html" %}

{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>
{% endblock %}

{% block content %}
<main>
    <div class="progress w-50 p-1 bg-transparent border border-1 border-white rounded-pill position-relative top-50 start-50 translate-middle" style="z-index:100; height: 15px; margin-bottom: -15px;">
        <div class="progress-bar bg-white rounded-pill" role="progress-bar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1"></div>
    </div>
    <div class="panel-hover h-75 position-absolute" style="opacity: 0; top: 50%; width: 10%; transform: translateY(-50%); z-index: 1050;"></div>
    <input id="news-panel-toggle" class="panel-check" type="checkbox" style="display: none;" tabindex="-1">
    <div id="news-panel" class="important-news panel carousel slide" data-bs-ride="carousel" data-bs-interval=30000>
        <button type="button" class="btn-close btn-close-white" aria-label="Close" style="float: right;"></button>
        <label for="news-panel-toggle" class="btn-panel">
            <!-- Put icon here -->
        </label>
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#news-panel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1" tabindex="-1"></button>
            <button type="button" data-bs-target="#news-panel" data-bs-slide-to="1"
                aria-label="Slide 2" tabindex="-1"></button>
            <button type="button" data-bs-target="#news-panel" data-bs-slide-to="2"
                aria-label="Slide 3" tabindex="-1"></button>
        </div>
        <div class="carousel-inner">
            {% include 'components/announcements.html' %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#news-panel" data-bs-slide="prev" tabindex="-1">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#news-panel" data-bs-slide="next" tabindex="-1">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="viewport-outer-container w-100 h-100">
        <canvas id="background-canvas" class="particle-canvas"></canvas>
        <div class="viewport-inner-container h-100" style="margin-left: auto;">
            <div class="title-container position-relative" style="width: 0; height: 0; top: 20px; left: 20px;">
                <img src="/assets/SNHS%20logo%20circular%20crop.png" style="height: 160px; opacity: 0;">
            </div>
            <canvas id="3d-viewport" class="logo-canvas"></canvas>
        </div>
    </div>
</main>
<div style="position: sticky; top: 0; z-index: 1000;">
    {% include 'components/navbar.html' %}
</div>
<section>
    <h2 style="color: whitesmoke; margin-top: 5%; margin-left: 30px;">TODO: Style calendar</h2>
    <iframe style="margin-left: 50%; margin-top: 15px; margin-bottom: 5%; min-width: 80%; transform: translateX(-50%);" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%234285F4&amp;ctz=America%2FNew_York&amp;src=NDJoZzVibzYyZ3EyYWk4M2Zsb24xcmFnbnNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=aGlzdG9yeWlzYnJ5YW50QGdtYWlsLmNvbQ&amp;color=%23F4511E&amp;color=%23009688&amp;color=%237986CB" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</section>

<script src="/static/index.js" type="module"></script>
{% endblock %}
