<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cypress Bay SNHS</title>
    <link rel="icon" sizes="192x192" href="/assets/SNHS%20logo.png">
    <link rel="shortcut icon" href="/assets/SNHS%20logo.png" type="image/png"/>
    <link rel="apple-touch-icon" href="/assets/SNHS%20logo.png" type="image/png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link href="/static/info_page.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap" rel="stylesheet">
</head>
<body id="body-override">
    {% include "components/header.html" %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="/static/info_page.js" type="module"></script>
</body>
</html>