{% extends "info_page.html" %}

{% block head %}
{% endblock %}

{% block content %}
    <h2>Officers</h2>
    <p>The organizers who make the club possible.</p>
    <br>
    <h3>President</h3>
    <ul>
        <li>Gabriele Di Gianluca</li>
    </ul>
    <br>
    <h3>Vice Presidents</h3>
    <ul>
        <li>Sanjana Bhatt</li>
        <li>Sebastian Correcha</li>
    </ul>
    <br>
    <h3>Secretary</h3>
    <ul>
        <li>Rachel Nestor</li>
    </ul>
    <br>
    <h3>Creative Director</h3>
    <ul>
        <li>Shaan Mistry</li>
    </ul>
    <br>
    <h3>Treasurer</h3>
    <ul>
        <li>Sahana Thayagabalu</li>
    </ul>
    <br>
    <h3>Tutoring Heads</h3>
    <ul>
        <li>Tristan Faze</li>
        <li>Vivek Ramroop</li>
    </ul>
    <br>
    <h3>Science Bowl Heads</h3>
    <ul>
        <li>Venkata Bhamidi</li>
        <li>Sastha Rajamanikandan</li>
    </ul>
{% endblock %}

