{% extends "info_page.html" %}

{% block head %}
{% endblock %}

{% block content %}
    <h2>Officers</h2>
    <p>The organizers who make the club possible.</p>
    <br>
    <h3>President</h3>
    <ul>
        <li>Vishal Suresh</li>
    </ul>
    <br>
    <h3>Vice Presidents</h3>
    <ul>
        <li>Francisco Alvarez</li>
        <li>Yosef Cohen</li>
    </ul>
    <br>
    <h3>Secretary</h3>
    <ul>
        <li>Sebastian Correcha</li>
    </ul>
    <br>
    <h3>Webmaster</h3>
    <ul>
        <li>Justin Liu</li>
    </ul>
    <br>
    <h3>Historian/Social Media Director</h3>
    <ul>
        <li>Niveda Kumar</li>
    </ul>
    <br>
    <h3>Treasurer</h3>
    <ul>
        <li>Sachitaa Senthilkumar</li>
    </ul>
    <br>
    <h3>Tutoring Heads</h3>
    <ul>
        <li>Allison Port</li>
        <li>Amanda Campos</li>
        <li>Whitney Ribnick</li>
    </ul>
    <br>
    <h3>Science Bowl Heads</h3>
    <ul>
        <li>Ian Gonzalez Hermosillo</li>
        <li>Sastha Rajamanikandan</li>
    </ul>
    <br>
    <h3>Science Olympiad Heads</h3>
    <ul>
        <li>Gabriele Di Gianluca</li>
        <li>Priyanka Adhikari</li>
        <li>Vismay Jain</li>
    </ul>
    <br>
    <h3>Merchandise Director</h3>
    <ul>
        <li>Shaan Mistry</li>
    </ul>
{% endblock %}

