{%  extends "info_page.html" %}

{% block head %}
{% endblock %}

{% block content %}
    <h2>Points</h2>
    <p><b><u><a href="https://docs.google.com/spreadsheets/d/1Hmm1MnhjReP4jJOZC8qroYx74z4Lq3e3VDKa4f6pYDc/edit?usp=sharing">Click here to see point totals for the 2021-2022 school year!</a></u></b></p>
    <br>
    <h2>Point Values</h2>
    <ul>
        <li>General Meeting: 2 per meeting</li>
        <li>Tutoring: 2 per session</li>
        <li>Science Bowl: 1 per practice</li>
        <li>Science Olympiad: 1 per practice</li>
        <li>Special Events: May vary</li>
    </ul>
    <br>
    <h2>Member Requirements</h2>
    <ul>
        <li>24 points within the school year to be in good standing with the club.</li>
        <ul>
            <li>If you are not in good standing by the end of the year, you will not be accepted into the club the following school year.</li>
        </ul>
        <li>To qualify for the senior cord, you must have obtained 40 points by graduation.</li>
    </ul>
{% endblock %}