{% extends "info_page.html" %}

{% block head %}
{% endblock %}

{% block content %}
    <h2>Tutoring</h2>
    <p>Need help with a science subject? Need more points? Love to help out your peers? Then come to our weekly tutoring sessions on Wednesdays after school at room 211!</p>
    <br>
    <h2>Member Requirements</h2>
    <p>All SNHS members must come tutor for an hour at least two times each semester. If you have not fulfilled your tutoring requirements from the first semester, you must make up for it this semester. Each time you tutor, you will receive 2 <a href="/points">points</a>.</p>
{% endblock %}

