<input id="mobile-navbar__checkbox" type="checkbox">
<div class="mobile-navbar__header">
    <label class="mobile-navbar__label" for="mobile-navbar__checkbox">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </label>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <a href="/"><h1>CYPRESS BAY SNHS</h1></a>
</div>
<label class="mobile-navbar__overlay" for="mobile-navbar__checkbox"></label>
<nav id="navbar" class="nav-bar">
    {% if include_logo != false %}
        <a class="navbar__logo-container m-0" href="/"><img class="navbar__logo" src="/assets/SNHS%20logo.png"></a>
    {% endif %}
    <button type="button" class="btn-close btn-close-white"  aria-label="Close"
        onclick="javascript:document.getElementById('mobile-navbar__checkbox').checked = false;">
    </button>
    <a href="/events">Events</a>
    <a href="/tutoring">Tutoring</a>
    <a href="/competitions">Competitions</a>
    <a href="/points">Points</a>
    <a href="/officers">Officers</a>
    <a href="/FAQ">FAQ</a>
    {% if name is defined %}
        <a id="me" class="dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" data-bs-offset="0,-0.5" aria-expanded="false" href="/profile/{{ id }}">{{ name }}</a>
        <div class="dropdown-menu" aria-labelledby="me">
            <a class="dropdown-item" href="/profile/{{ id }}">Profile</a>
            {% if is_superuser %}
                <a class="dropdown-item" href="/admin">Admin Panel</a>
            {% endif %}
            <a class="dropdown-item" href="/points">Points: {{ points }}</a>
            <a class="dropdown-item" href="javascript:logout();">Logout</a>
        </div>
    {% else %}
        <a id="login" class="dropdown-toggle" data-bs-toggle="dropdown" data-bs-offset="0,-0.5" data-bs-auto-close="outside" aria-expanded="false" href="javascript:;">Login</a>
        <ul class="dropdown-menu" aria-labelledby="login">
            <form id="login-form" action="/auth/cookie/login" method="POST" class="px-4 py-3" onsubmit="return login()">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input name="username" type="email" class="form-control" id="email" placeholder="email@example.com" autocomplete="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="Password" autocomplete="new-password" required>
                    <div class="login-form__error login-form__error--unactivated">
                        <span class="text-danger">Error. Cannot login.</span>
                    </div>
                </div>
                <button type="submit" form="login-form" class="login-form__submit btn btn-primary">Sign in</button>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Forgot password?</a>
            </form>
        </ul>
    {% endif %}
</nav>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script type="text/javascript">
    const req = new XMLHttpRequest();
    req.onreadystatechange = function() {
        if (req.readyState != 4 || req.status != 200) return;
        document.getElementById('navbar').parentElement.innerHTML = req.responseText;
    };

    let navBarUrl = "/nav-bar";
    {% if include_logo == false %}
        navBarUrl += "/?include-logo=false";
    {% endif %}

    function logout() {
        axios.post('/auth/cookie/logout').then(() => {
            req.open("GET", navBarUrl , true);
            req.send(null);
        });
    }

    function login() {
        const form = document.getElementById("login-form");

        axios.post(
            '/auth/cookie/login',
            new FormData(form),
            {
                headers: {
                    'Content-Type': 'multipart/form-data',
                },
            },
        ).then(response => {
            console.log("Login success:", response);
            
            req.open("GET", navBarUrl , true);
            req.send(null);
        }).catch(err => {
            document.getElementById('password').style.border = '2px solid red';
            document.querySelector(".login-form__error").classList.remove("login-form__error--unactivated");
            console.log("Login error", err);
        });

        return false;
    }
</script>
