@use "style";
@use "info_page";

#body-override .carousel-item {
	float: unset;
}

#body-override main {
	background-color: unset;
}

#body-override .accordion * {
	background-color: rgb(140, 131, 165);
	color: whitesmoke;
}

.canvas-container {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: -1;
}
