@use "style";
@use "panel";
@use "navbar";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$enable-negative-margins: true;


section {
	display: flex;
	flex-flow: column;
	align-items: center;
	position: relative; // so it can clip the absolutely-positioned image
	width: 100%;
	background-color: rgb(142, 143, 187);
	overflow: hidden;

	@include media-breakpoint-down(lg) {
		z-index: 50; // so the news panel can slide out from underneath
	}

	> div {
		color: whitesmoke;
		background-color: rgba(111, 48, 161, 0.5);
		opacity: 90%;
		width: 100%;
	}

	> div.about-us {
		height: 100%;
		padding: 50px 20%;

		> p, h2 {
			text-align: center;
		}

		> p {
			font-size: larger;
		}
	}

	> img {
		display: block;
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		filter: brightness(0.3) blur(5px); //brightness(0.3) blur(10px);
	}

	> div.boxes-subsection {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;

		@include media-breakpoint-down(lg) {
			padding-top: 50px;
			opacity: 99%;
			background-color: #55506f;
		}

		> div {
			width: 25vw;
			height: 25vw;
			background-color: #4a95c0;
			box-shadow: 0px 0px 10px 2px #a6d9e2;
			overflow-y: auto;
			scrollbar-width: thin;
			scrollbar-color: rgb(54, 54, 54);
			padding: 20px 30px;
			color: #a7cbcb;
			text-shadow: 0 0 2px #71898b;
			min-width: 266px;
			min-height: 266px;
			margin: 0 20px 30px 20px;
			opacity: 0%; // animated by gsap
			transform: translateX(-30px); // also animated

			&::-webkit-scrollbar {
				width: 8px;
				height: 8px;
			}

			&::-webkit-scrollbar-track {
				opacity: 0.5;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background-color: rgba(181, 232, 231, 0.5);
			}

			p, li, span {
				font-size: 1.2rem;
				font-family: "Exo 2", sans-serif;
			}

			> h2 {
				font-family: "Exo 2", sans-serif;
			}
		}
	}
}

.boxes-subsection__contact {
	> div {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		height: 70%;

		> div {
			display: flex;
			flex-flow: row;
			align-items: center;
			justify-content: flex-start;
			height: 30%;

			> img {
				max-height: 80%;
			}

			a {
				color: unset;
				text-decoration: unset;
				margin-left: 5px;
				line-height: 15px;
			}
		}
	}
}

.boxes-subsection__requirements {
	&__join-btn {
		display: block;
		margin: 40px auto;
		border-radius: 17px;
		box-shadow: 0px 0px 10px 2px #77c2cf;
		background-color: #74afcb;
		padding: 5px;
		font-size: 1.6rem;
		font-family: 'Exo 2', sans-serif;
		color: whitesmoke;
		text-shadow: 0 0 10px #2ccfce;
	}
}

main {
	@include media-breakpoint-up(lg) {
		height: calc(100vh - 60px);
	}

	@include media-breakpoint-down(lg) {
		height: 100vh;
	}

	width: 100%;
	overflow: hidden;
	
	/* background: rgb(13,51,78);
    background: radial-gradient(circle, rgba(13,51,78,1) 0%, rgba(23,71,135,1) 26%, rgba(16,55,115,1) 58%, rgba(24,82,130,1) 93%); */

	.viewport-outer-container {
		height: 100%;
		filter: brightness(0.3);
		background: rgb(13, 51, 78);
		background: linear-gradient(
			145deg,
			rgb(68, 13, 78) 0%,
			rgb(251, 218, 252) 21%,
			rgb(233, 236, 36) 46%,
			rgb(74, 16, 115) 72%,
			rgb(121, 15, 214) 93%
		);

		@include media-breakpoint-down(lg) {
			transition: height 1s ease-out; // for mobile panel slide out
		}

		.viewport-inner-container {
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			transition: width 1s ease-out, height 1s ease-out; // for pc panel slide out

			@include media-breakpoint-up(lg) {
				height: 100%;
			}

			@include media-breakpoint-down(lg) {
				height: 80%;
			}

			h1 {
				position: absolute;
				opacity: 0;
				pointer-events: none;
				mix-blend-mode: color-burn;
				color: rgb(243, 207, 47);
			}
		}
	}
}

.logo-canvas {
	pointer-events: none;
	opacity: 0;
	filter: blur(5px);
}

.particle-canvas {
	position: absolute;
}

.progress {
	overflow: visible;

	::before {
		content: "Loading";
		position: absolute;
		left: 50%;
		transform: translateY(-40px) translateX(-50%);
		font-family: "Lucida Console", "Courier New", monospace;
		font-size: x-large;
		font-weight: 200;
		color: white;
	}
}

.carousel-inner {
	scrollbar-width: thin;
	scrollbar-color: rgb(54, 54, 54);
	top: 5%;
	left: 15%;
	width: 70%;
	height: 87%;
	padding-right: 10px;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		opacity: 0.5;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: rgb(54, 54, 54);
	}

  	a {
		color: #6eebff;
	}

	img {
		margin: 30px auto 0;
		max-width: 100%;
	}
}

#news-panel {
	color: whitesmoke;
	@include media-breakpoint-up(lg) {
		height: calc(100vh - 60px);
	}

	@include media-breakpoint-down(lg) {
		top: 40%;
		height: 60%;
		z-index: 40;
		background-color: rgb(86, 79, 110);
	}

	.carousel-control-prev, .carousel-control-next {
		height: 10%;
		top: 50%;
		transform: translateY(-50%);
	}
}


