@use 'sass-toolkit/stylesheets/toolkit';
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@include toolkit.parallax-init(1, "body", true);

$enable-negative-margins: true;

section {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(30, 107, 207);
    overflow: hidden;
}

div.parallax {
    @include toolkit.parallax(-0.8);

    @include media-breakpoint-up(lg) {
        margin-left: -7px; // Fixing the gap left by parallax method
    }
    
    width: 100%;
    height: 100vh;
    /* background: rgb(13,51,78);
    background: radial-gradient(circle, rgba(13,51,78,1) 0%, rgba(23,71,135,1) 26%, rgba(16,55,115,1) 58%, rgba(24,82,130,1) 93%); */
    
    .viewport-outer-container {
        filter: brightness(0.3);
        background: rgb(13,51,78);
        background: linear-gradient(145deg, rgba(13,51,78,1) 0%, rgb(218, 233, 252) 21%, rgba(195,219,20,1) 46%, rgba(16,55,115,1) 72%, rgba(15,124,214,1) 93%);

        canvas {
            margin-right: 0;
        }
    }
}

canvas {
    pointer-events: none;
    opacity: 0;
    filter: blur(5px);
}

.progress {
    overflow: visible;

    ::before {
        content: "Loading";
        position: absolute;
        left: 50%;
        transform: translateY(-40px) translateX(-50%);
        font-family: "Lucida Console", "Courier New", monospace;
        font-size: x-large;
        font-weight: 300;
        color: white;
    }
}

.important-news {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);

    @include media-breakpoint-up(lg) {
        transform: translateX(-100%);
        width: 30%;
        height: 100%;
    }

    @include media-breakpoint-down(md) {
        transform: translateY(-100%);
        width: 100%;
        height: 100%;
    }
}
