@use "navbar";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.outer-header {
    z-index: 1000;
}

.header__title {
    margin: 10px;
    margin-left: 260px;
    font-size: 50px;
    font-weight: 470;
    font-family: "Exo 2", sans-serif;
    color: whitesmoke;
    text-shadow: 0 0 5px #fff, 0 0 20px #16b8b8;

    @media (max-width: 1284px) {
        font-size: 40px;
    }

    @media (max-width: 1080px) {
        font-size: 30px;
    }
}

.header {
    @include media-breakpoint-down(lg) {
        display: none;
    }

    max-height: 80px;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgb(11,34,94);
    background: linear-gradient(128deg, #6327be 27%, #521787 47%, #2c0d4e 73%, #5a3775 91%);
    z-index: 200;
}

.navbar-container {
    z-index: 300;
}
