@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

#mobile-navbar__checkbox {
	display: none;
}

.mobile-navbar__header {
	position: fixed;
	display: flex;
	gap: 20px;
	top: 0;
	width: 100vw;
	height: 40px;
	background-color: rgba(87, 57, 108, 0.7);
	color: whitesmoke;

	& > h1 {
		font-family: "Roboto", sans-serif;
		text-shadow: 0 0 5px #fff, 0 0 20px #16b8b8;
		font-weight: bold;
		font-size: 24px;
		letter-spacing: 2px;
	}
}

.nav-bar {
	@include media-breakpoint-down(md) {
		display: none;
		position: fixed;
		height: 40px;
		border-width: 1px 0 1px 0;
	}

	@include media-breakpoint-up(lg) {
		position: sticky;
		display: flex;
		justify-content: space-around;
		height: 60px;
		border-width: 3px 0 3px 0;
	}

	top: 0;
	background-color: rgb(79, 17, 179);
	border-style: solid;

	border-color: white;

	& > a {
		color: whitesmoke !important;
		// margin: auto;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		text-shadow: 0 0 10px #d888e3;
		height: 100%;
		padding-top: 15px;
	}

    #login.dropdown-toggle::after {
        content: none; // Remove Bootstrap's dropdown caret
    }

	.dropdown-menu {
		border-radius: 0;
		background-color: rgb(119, 45, 184);
		border-style: solid;
		border-width: 3px;
		border-color: white;

		.dropdown-item {
			color: whitesmoke;

			&:hover {
				background-color: rgb(160, 87, 238);
			}
		}

		.login-form__error {
			overflow: hidden;
			transition: height 0.5s ease-out;
			height: 24px;

			&.login-form__error--unactivated {
				height: 0px;
			}
		}
	}

	label {
		color: whitesmoke;
	}
}

.navbar__logo {
	height: 200px;
	left: 0;
	transform: translateY(-45%);
}