.nav-bar {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-around;
	height: 60px;
	background-color: rgb(79, 17, 179);
	border-style: solid;
	border-width: 3px 0 3px 0;
	border-color: white;

	& > a {
		color: whitesmoke !important;
		// margin: auto;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		text-shadow: 0 0 10px #d888e3;
		height: 100%;
		padding-top: 15px;
	}

    #login.dropdown-toggle::after {
        content: none; // Remove Bootstrap's dropdown caret
    }

	.dropdown-menu {
		border-radius: 0;
		background-color: rgb(119, 45, 184);
		border-style: solid;
		border-width: 3px;
		border-color: white;

		.dropdown-item {
			color: whitesmoke;

			&:hover {
				background-color: rgb(160, 87, 238);
			}
		}

		.login-form__error {
			overflow: hidden;
			transition: height 0.5s ease-out;
			height: 24px;

			&.login-form__error--unactivated {
				height: 0px;
			}
		}
	}

	label {
		color: whitesmoke;
	}
}

.navbar__logo {
	height: 200px;
	left: 0;
	transform: translateY(-45%);
}